.content {
    margin-left: 200px;
    height: 900px;
    width: auto;
    position: relative;
    background: #e2eaf8;
    overflow: auto;
    z-index: 1;
}
main{
    margin-top: 5%;
}

.vertical-menu {
    width: 200px;
    position: fixed;
    height: 100%;
    background: #1d2535;
    font-family: "Open Sans",sans-serif;;
}
ul{
    margin: 0;
    padding: 0;
}
.vertical-menu li {
    display: block;
    padding: 12px;
    text-decoration: none;
}
.vertical-menu a{
    color: #b7c0cd;
    text-decoration: none;
}

.vertical-menu a:hover {
    color: #ffffff;
}

li.active {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #0f1b34;
    color: white;
}

.vertical-menu span{
    padding-right: 5px;
}