* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#customTable{
   font-family: "Arial";
    font-size: 13px;
    width: 80%;
    margin-left: 10%;
    color: #848484;
}
body{
    margin-top: 6%;
}

#nav-search{
    width: 400px;
    margin-top: 10px;
    margin-left: 350px;
}

.content {
    padding: 1%;
    float: left;
    width: 80%;
    text-align: center;
    background-color: #f5f5f5;
}

form{
    visibility: hidden;
}
.form-inline a{
    float: right;
    width: 90px;
}
.content-inline
{
    margin-bottom: -25px;
}
.fa-sign-in-alt{
    padding-right: 2px;
}
.card-text {
    display: inline-block;
    background: linear-gradient(110deg, rgba(115, 115, 115, 0.14) 60%, rgba(188, 188, 188, 0.39) 60%);
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    border-radius: 5px;
    margin-top: 2%;
    padding: 3px;
    padding-bottom: 33px;
    border: 1px solid #bcbcbc;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.font-group{
    text-align: center;
}

.sidebar {
    position: sticky;
    float: right;
    width: 18%;
}


.sidebar-ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}
.sidebar-ul li a {
    display: block;
    color: #ffffff;
    background-color: rgba(156, 156, 156, 0.62);
    padding: 8px 16px;
    margin-top: 1px;
    text-decoration: none;
    border-radius: 2px;
}

#link-a-hide {
    display:block
}
.sidebar-ul li a:hover {
    background-color: rgba(75, 75, 75, 0.87);
    color: white;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #353535;
    color: white;
    font-family: "Calibri Light";
    font-size: small;
    text-align: center;
    position: fixed;

}

.post-container{
    background-color: #eeeeee;
    width: 70%;
    padding: 2%;
    height: 150px;
    margin-bottom: 1%;
}

.column {
    float: left;
    width: 31%;
    margin: 20px 1.15%;
    height: 160px;
    background-color: #B2D6FF;    /* Medium blue */
}