<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/font-awesome/5.7.2/css/all.css}" />

    <link rel="stylesheet" type="text/css" href="../static/css/index.css"
        media="all"  th:href="@{/css/index.css}" />

    <title>Main </title>
</head>
<body>
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" th:href="@{/}"><i class="fas fa-wallet"></i>
                    <span>BILLFOLD</span></a>
            </div>

            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Welcome <span sec:authentication="principal.username">User</span></a>
                    </li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/adminPage}">Admin</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>



<section>

    <div class='container-fluid'>
        <div class='sidebar'>

            <ul class="sidebar-ul">
                <li><a href="/" th:href="@{/posts}">Create Post</a></li>
                <li> <a href="/" th:href="@{/fileupload}">Upload File</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">About</a></li>
            </ul>

        </div>

        <div  class="content" th:if="${not #lists.isEmpty(list)}">
            <div  th:each="p : ${list}">
                <div class="col-sm-6">
                    <div class="card">
                        <h5   class="card-title" th:text="${p.topic}"></h5>
                        <p class="card-text" th:text="${p.text}"></p>
                        <a href="" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

        <h3>Form with CSRF Token</h3>
        <form th:action="@{/messages}" method="post">
            <textarea name="content" cols="50" rows="5"></textarea>
            <br>
            <input type="submit" value="Submit" />
        </form>

        <div>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Messages
                </div>
                <p th:each="msg: ${messages}" th:text="${msg.content}"></p>
            </div>
        </div>
    </div>

    </div>
</section>
<div class="container">
    <div class='column'></div>
    <div class='column'></div>
    <div class='column'></div>
</div>

<footer>
    <p>Copyright 2009 Your name</p>
</footer>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>