<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/font-awesome/5.7.2/css/all.css}" />

    <link rel="stylesheet" type="text/css" href="../static/css/index.css"
          media="all"  th:href="@{/css/index.css}" />

    <title>Main </title>
</head>
<body>

<header>
    <nav class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" th:href="@{/}"><i class="fas fa-wallet"></i>
                    <span>BILLFOLD</span></a>
            </div>

            <div class="navbar-header">
                <input id="nav-search" class="form-control input-sm " type="search" placeholder="Search" aria-label="Search">
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/userSettings}"><i class="fas fa-users-cog"></i>   <span sec:authentication="principal.username">User</span></a>
                    </li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"> <i class="fas fa-sign-in-alt"></i> Logout</a></li>
                </ul>
            </div>

        </div>
    </nav>
</header>



<section>

    <div class='container-fluid'>
        <div  class="content" th:if="${not #lists.isEmpty(posts)}">

            <div  th:each="p : ${posts}">
                <span th:if="${p.active} == true">

                    <a th:href="@{|/post/view/${p.id}|}">
                    <div class="col-sm-6">
                            <div class="card">
                                <h5   class="card-title" th:text="${p.topic}"></h5>
                                <div class="">
                                    <p class="card-text" th:text="${p.description}"></p>
                                </div>
                            </div>
                    </div>
                    </a>

                </span>
            </div>

        </div>
    </div>

</section>


<div class="container">
    <div class='column'></div>
    <div class='column'></div>
    <div class='column'></div>
</div>

<footer>
    <p>Copyright 2009 Your name</p>
</footer>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{../static/js/main.js}"></script>
</div>

</body>
</html>