<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/font-awesome/5.7.2/css/all.css}" />

    <link rel="stylesheet" type="text/css" href="../static/css/index.css"
          media="all"  th:href="@{/css/index.css}" />

    <title>Main </title>
</head>
<body>
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" th:href="@{/}"><i class="fas fa-wallet"></i>
                    <span>BILLFOLD</span></a>
            </div>

            <div class="nav navbar-nav nav-tabs-justified">
                <form class="form-inline my-2 my-lg-0" id="search-form">
                    <input class="form-control mr-sm-4" type="search" placeholder="Search" aria-label="Search" id="topic">
                    <button id="btn-search" class="btn btn-outline-success btn-sm btn-danger" type="submit">Search</button>
                </form>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/userSettings}"><i class="fas fa-users-cog"></i>   <span sec:authentication="principal.username">User</span></a>
                    </li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"> <i class="fas fa-sign-in-alt"></i> Logout</a></li>
                </ul>
            </div>

        </div>
    </nav>
</header>
<section>

    <div class="row" th:fragment="post-list" th:if="${postList != null && !postList.isEmpty()}">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table id="link-list" class="table table-striped table-bordered" style="width:100%">
                <thead>

                <tr>
                    <th>ID</th>
                    <th>Topic</th>
                    <th>Description</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="p : ${postList}">
                    <td th:text="${p.id}">1</td>
                    <td th:text="${p.topic}">http://example.org</td>
                    <td th:text="${p.description}">PENDING</td>
                </tr>
                </tbody>

            </table>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row" th:fragment="pagination">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:each="pageNumber : ${pageNumbers}" >
                        <a class="page-link" th:href="@{|/page/${pageNumber}|}" th:text="${pageNumber}">1</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-2"></div>
    </div>





</section>
<footer>
    <p>Copyright 2009 Your name</p>
</footer>


<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>